
*{
    padding:0;
    margin:0;
}
.main-container{
    width:19rem;
}
.card-container{
    width:100%;
    box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
}
.card-avatar{
    width:100%;
    background:rgba(131, 131, 134, 0.2);
}
.card-avatar img{
    text-align:center;
    width: 200px;
    height: 200px;
    margin: 0 50px;

}
.card-content-container p{
    font-size: 21px;
    font-weight: 500;
    padding-bottom: 8px;
    padding-top: 12px;
    color:black;
}
.card-content-container{
    width: auto;
    padding-left: 20px;
    color: grey;
    line-height: 30px;
    letter-spacing: 1px;
    padding-bottom: 10px;
}
.icon{
    margin-right: 10px;
}
.footer-container{
    width: auto;

    display: flex;
    font-size: 30px;
    padding: 15px;
    justify-content: space-between;

    background: #f6f6f7;
}
.footer-container div{
    width:30%;
    text-align: center;
    color: #808080a6;

}
.br-right{
    border-right: 1px solid #80808026;
}
.footer-container div:first-child{
    color:red;
    
}