.App{
width: 100%;
}
.App h1{
    width: 100%;
    text-align: center;
    padding: 20px;
    font-size: 40px;
    color: white;
    background-color: rgb(233 30 99 / 67%);
    }
.app-container{
    display: grid;
    grid-template-columns: repeat( auto-fit, minmax(300px, 1fr) );
    grid-gap: 30px;
    padding: 20px;
    margin: 20px;
    justify-items: center;
}